<div class="blog">
  <h4 id="blog">04 ̶ Blog</h4>
  <h1>Latest articles</h1>
  <div class="sub-content">
    <div class="article">
      <img src="../../../../assets/img/img-header.jpg" alt="">
      <div class="body">
        <div class="header">
          <div class="circle"></div>
          <small> AGRICULTURE </small>
        </div>
        <h1>USDA says it again: 2021 was a record year for farm exports</h1>
        <p>
            2021's exports beat the previous record by $22.5 billion, says Agriculture secretary Tom Vilsack. 
        </p>
        <div class="links">
            <a href="">Read more </a>
            <img src="../../../../assets/img/arrow-right-up-line.svg" alt="" />
        </div>
      </div>
    </div>
    <div class="article">
      <img src="../../../../assets/img/img-header2.jpg" alt="">
      <div class="body">
        <div class="header">
          <div class="circle"></div>
          <small> AGRICULTURE </small>
        </div>
        <h1>UC Davis  leads effort to accelerate wheat breeding</h1>
        <p>
            The $15 million research project will bring together wheat breeders and researchers from 22 institutions. 
        </p>
        <div class="links">
            <a href="">Read more </a>
            <img src="../../../../assets/img/arrow-right-up-line.svg" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>
