<section>
  <nav>
    <div class="moviles">
      <div class="menu">
        <a (click)="onClickLink()"><i class="bi bi-list"></i></a>
      </div>
      <div class="list" id="list">
        <ul>
          <li *ngFor="let nav of links" (click)="onClickNav(nav.url)">
            <a> {{ nav.name }} </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="fila">
      <a href="" class="brand">Nutrient</a>
      <ul>
        <li *ngFor="let nav of links">
          <a [href]="nav.url"> {{ nav.name }} </a>
        </li>
      </ul>
      <a href="">Enterprise Solution <i class="bi bi-arrow-up-right"></i></a>
    </div>
  </nav>
  <div class="excibition">
    <div class="publish">
      <h1>
        Connection end-to-end agriculture solution to help the world thrive
      </h1>
    </div>
    <div class="description">
      <h5>
        With the operations as broad, we know it is hard to get the big picture.
        Here are a few resources that put our purpose in context. Avaliable in
        multiple languages.
      </h5>
      <div class="contact-us">
        <a href="">Contact us</a>
      </div>
    </div>
  </div>

  <div class="options">
    <div class="more">
      <a href="#about-us"><i class="bi bi-arrow-down-circle-fill"></i></a>Get to
      know more about us
    </div>
    <div class="info">
      <small>We have managed area on </small>
      <p>South East Asia, África and many more.</p>
    </div>
  </div>
</section>
