<div class="footer">
  <div class="contact">
    <div class="col">
        <h1>Nutrient</h1>
    </div>
      <div class="col">
        <h3>Company</h3>
        <a>Global Address</a>
        <a>Management</a>
        <a>History</a>
        <a>Our Impact</a>
        <a>Contact us</a>
      </div>
      <div class="col">
        <h3>Useful Links</h3>
        <a>Ask Help (FAQs)</a>
        <a>Sign up for news</a>
        <a>Search for jobs</a>
        <a>Speak up</a>
        <a>Blog</a>
      </div>
      <div class="col">
        <h3>Download</h3>
        <a>Anual Review</a>
        <a>CSV and Sustainability Report</a>
        <a>Responsible Sourcing Standard</a>
      </div>
      <div class="col">
        <h3>Investors</h3>
        <a>Corporate governance</a>
        <a>Shares, ADRs & Bonds</a>
        <a>Publications</a>
      </div>
  </div>
  <hr />
  <div class="politic">
    <span>© Nutrient 2023. All rights reserved</span>
    <div class="redes">
      <img alt="facebook" src="../../../../assets/img/facebook-circle-fill.svg"/>
      <img alt="twitter" src="../../../../assets/img/twitter-fill.svg"/>
      <img alt="linkedin" src="../../../../assets/img/linkedin-fill.svg"/>
    </div>
    <div class="policy">
      <span>Fraud policy</span>
      <span>Privacy policy</span>
    </div>
  </div>
</div>
