<div class="title1">
  <h4 id="about-us">01 ̶ About us</h4>
  <h1>
    We connect innovate opportunities to build agriculture sustainability and
    your bussiness
  </h1>
  <div class="sub-content">
    <div class="side-left">
      <div class="info1">
        <span>20+</span>
        <p>Well managed and operated areas around the world</p>
      </div>
      <div class="info2">
        <span>90K+</span>
        <p>Farmers that feel the benefit join with us</p>
      </div>
    </div>
    <div class="side-right">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Exercitationem, illum? Soluta, totam! Cumque ea nesciunt eius. Error
        architecto ullam molestias ratione, ex quam eos voluptatem nostrum ipsa
        blanditiis laboriosam ea!
      </p>
      <br />
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Exercitationem, illum? Soluta, totam! Cumque ea nesciunt eius. Error
        architecto ullam molestias ratione, ex quam eos voluptatem nostrum ipsa
        blanditiis laboriosam ea!
      </p>
    </div>
  </div>

  <div class="sub-content">
    <div class="side-left">
      <div class="info3">
        <strong
          >Sustainability Priorities <i class="bi bi-arrow-up-right"></i
        ></strong>
      </div>
      <div class="info4">
        <strong
          >Sustainability Supply Chains <i class="bi bi-arrow-up-right"></i
        ></strong>
      </div>
    </div>
    <div class="side-right">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Exercitationem, illum? Soluta, totam! Cumque ea nesciunt eius. Error
        architecto ullam molestias ratione, ex quam eos voluptatem nostrum ipsa
        blanditiis laboriosam ea!
      </p>
    </div>
  </div>
</div>
