<div class="title2">
  <div class="left">
    <h4 id="services">02 ̶ Services</h4>
  </div>
  <div class="right">
    <h1>
      We offer our solution as a service. You don't buy or maintain any hardware
      or software.
    </h1>
    <p>
      It's a noisy world out there. You need someone who can pierce through the
      confusion and indetify new signals. As one of the largest participants in
      global supply chains.
    </p>
  </div>
</div>

<div class="services">
  <div class="service1" *ngFor="let service of data">
    <div class="header">
      <div class="circle"></div>
      <small> {{ service.small }} </small>
    </div>
      <h2> {{ service.title }} </h2>
    <p>
      {{ service.paragraf }}
    </p>
    <a href="">Learn more <i class="bi bi-arrow-up-right"></i></a>
  </div>
</div>

<div class="brands">
  <div class="h3">
    <h3>We work with amazing people from these companies</h3>

  </div>
  <div class="logos">
    <div class="row1">
      <img src="../../../../assets/img/logos/Adecoagro.png" alt="" height="100em">
      <img src="../../../../assets/img/logos/Adm.png" alt="" height="80em">
      <img src="../../../../assets/img/logos/Alico.png" alt="" height="40em">
      <img src="../../../../assets/img/logos/Avebe.png" alt="" height="80em">
    </div>
    <div class="row2">
      <img src="../../../../assets/img/logos/Cargill.png" alt="" height="80em">
      <img src="../../../../assets/img/logos/Mars.png" alt="" height="30em">
      <img src="../../../../assets/img/logos/Nestle.png" alt="" height="100em">
      <img src="../../../../assets/img/logos/Syngenta.png" alt="" height="100em">
    </div>
  </div>
</div>
